@use 'sass:color';
@use 'colors.scss';

.bar {
  min-height: 22px;
  padding: 6px 12px 0 12px;
  /* background: colors.$surface_transparent; */
}

.bar-item {
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 22px;
  border-radius: 14px;
  border: none;
  outline: none;
  background: colors.$inverse_surface_transparent_variant;
  color: colors.$on_surface;

  &.button {
    &:hover {
      background: colors.$inverse_surface_transparent,
        colors.$inverse_surface_transparent_overlay;
    }

    &:active {
      background: colors.$inverse_surface_transparent_variant,
        colors.$inverse_surface_transparent_overlay;
    }
  }

  &.transparent {
    background: transparent;
    color: colors.$on_surface;
  }

  &.primary_container {
    background: colors.$primary_container;
    color: colors.$on_primary_container;
  }
}
