@use 'sass:color';
@use 'colors.scss';

.launcher {
  background: colors.$surface_transparent;
  border-radius: 10px;
  margin: 200px;

  & .container {
    padding: 12px;
  }

  & .search {
    margin-bottom: 8px;
    padding: 10px;
    color: colors.$on_surface;
  }

  & .app-item {
    padding: 3px;
    margin-bottom: 4px;
    border-radius: 5px;
    background: colors.$inverse_surface_transparent_variant;
    color: colors.$on_surface;

    &:hover {
      background: colors.$inverse_surface_transparent;
    }
  }
}
