@use 'sass:color';

<* for name, value in colors *>
${{name}}: {{value.default.hex}};
<* endfor *>


$theme: 'dark';
$surface_transparent: color.adjust($surface, $alpha: -0.2);
$inverse_surface_transparent: color.adjust($inverse_surface, $alpha: -0.9);
$inverse_surface_transparent_variant: color.adjust($inverse_surface, $alpha: -0.8);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
